.about {
    display: flex;
    margin: 1rem 20rem;
    padding: 2rem 0;
    gap: 20rem;
}

.about h2 {
    margin-bottom: 0.5rem;
}

.imgContainer {
    position: relative;
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    object-fit: cover;
}

.imgContainer img:nth-child(1) {
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -100%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.imgContainer img:nth-child(2) {
    z-index: 1;
    top: calc(50% + 4rem);
    left: calc(50% + 4rem);
    transform: translate(-90%, -60%);
}

@media (max-width: 1024px) {
    .about {
        margin: 3rem 7rem;
    }
}

@media (max-width: 768px) {
    .about {
        margin: 3rem 4rem;
    }
}

@media (max-width: 426px) {
    .about {
        flex-direction: column;
        margin: 1rem 2rem;
        padding-top: 1rem;
        gap: 4rem;
    }

    .imgContainer img:nth-child(1) {
        transform: translate(-50%, -80%);
    }

    .imgContainer img:nth-child(2) {
        transform: translate(-50%, -50%);
    }
}
