.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    color: #fff;
    background-color: #495e57;
    padding: 0 5rem;
}

.mainText {
    margin-top: 2.5rem;
    align-self: flex-start;
    max-width: 19rem;
}

.mainSubHeading {
    color: #f4ce14;
}

.mainImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

h1,
h2 {
    line-height: 1.1;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    line-height: 1.5;
}

@media (max-width: 1024px) {
    .main {
        padding: 0 2rem;
        gap: 5rem;
    }
}
