.navList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.navLinks {
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 0.9rem;
}

@media (max-width: 426px) {
    .navList {
        flex-direction: column;
        gap: 2.5rem;
    }
}
