.navList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.navLinks {
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 0.9rem;
    position: relative;
    transition: color 0.2s ease-in-out;
}

.navLinks::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #f4ce14;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navLinks:hover {
    color: #495e57;
}

.navLinks:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (max-width: 426px) {
    .navList {
        flex-direction: column;
        gap: 2.5rem;
    }
}
