.form {
    display: flex;
    text-align: start;
    flex-direction: column;
    gap: 1.25rem;
    margin: 2rem 25%;
    background-color: #edefee;
    padding: 1rem;
    border-radius: 0.8rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form label {
    font-weight: bold;
    font-size: 1rem;
    color: #495e57;
    margin-bottom: -0.5rem;
}

.form p {
    color: red;
}

.form input,
.form select {
    padding: 0.75rem 1rem;
    border-radius: 0.2rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-family: inherit;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s;
}

.form input[type="number"] {
    -moz-appearance: textfield;
}

.form input:focus,
.form select:focus {
    outline: none;
    border-color: #f4ce14;
    box-shadow: 0 0 0 3px rgba(244, 206, 20, 0.5);
}

.form input[type="number"]::-webkit-outer-spin-button,
.form input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.submitButton {
    font-weight: bold;
    margin-top: 1.5rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
    background-color: #f4ce14;
    border-radius: 0.2rem;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submitButton:hover:not(:disabled) {
    background-color: #ee9972;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.submitButton:active:not(:disabled) {
    transform: translateY(0);
    box-shadow: none;
}

.submitButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    color: #666666;
}

@media (max-width: 426px) {
    .form {
        margin: 4rem 2rem 2rem;
    }
}
